/* Navbar coloring */
.bg-light {
  background-color: teal !important;
}
/* Navbar text color */
.navbar-light .navbar-brand {
  color: whitesmoke;
  font-family: "Merriweather", serif;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  text-align: right;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: whitesmoke;
}
/* attempts at background image - fail */
/* .bg {
    background-image: url(https://files.slack.com/files-pri/T013NAE6PDY-F01451KKCNB/gtpfbg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .container {
    background-image: url(https://files.slack.com/files-pri/T013NAE6PDY-F01451KKCNB/gtpfbg.png);
} */

/* h1 formatting */
h1 {
  color: teal;
}
h1 {
    font-family: "Merriweather", serif;
}

/* submit button color */
.btn-primary {
  color: #fff;
  background-color: teal;
  border-color: teal;
}
/* border under contac attempts- both failed  */
/* .border-bottom{
    border-bottom: thick;
    border-bottom: grey;
} */

/* .border-bottom {
    border-bottom: 20px solid grey!important;
} */

img {
  float: left;
  display: inline-block;
  margin: 10px;
}

