/* Navbar coloring */
.bg-light {
  background-color: #8E443D !important;
}
/* Navbar text color */
.navbar-light .navbar-brand {
  color: whitesmoke;
  font-family: "Merriweather", serif;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  text-align: right;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: whitesmoke;
}

/* background color */
body {
  background-color: #FFDBDA;
  /* background-image: url(https://images.pexels.com/photos/207253/pexels-photo-207253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
}

/* h1 formatting */
h1 {
  color: #8E443D;
}
h1 {
  font-family: "Merriweather", serif;
}

/* submit button color */
.btn-primary {
  color: #fff;
  background-color: #8E443D;
  border-color: #8E443D;
}
/* images */
.about-image {
  height: 25%;
  width: 40%;
  float: left;
  margin: 10px;
}

.portfolio-image {
  margin: 10px;
  height: 40%;
  width: 40%;
}
.portfolio-row {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: grey;
  border-top: solid;
  border-color: #8E443D;
  border-width: 8px;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}